package seeders

import (
	"database/sql"
)

// {{.StructName}} seeder.
type {{.StructName}} struct{}

// Run executes the seeder.
func (s *{{.StructName}}) Run(db *sql.DB) error {
	// TODO: implement seeder
	return nil
}
